/* feedback.css */

.feedback-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow effect */
    margin-bottom: 50px; /* Add margin at the bottom to create space for the footer */
}

.feedback-form {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 150px); /* Adjust based on the height of the footer */
}

.input-group {
    margin-bottom: 30px;
}

label {
    margin-bottom: 10px;
    color: #333;
    /* Dark text color */
}

input[type='text'],
input[type='email'],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    /* Smooth transition on focus */
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
    /* Blue border color when focused */
}

textarea {
    resize: vertical;
}

button {
    width: 150px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
}

button:hover {
    background-color: #0056b3;
    /* Darker shade of blue on hover */
}
