/* SignUp.css */

/* Styles for the rest of the laptop screen */
body {
    /* background-image: url('/home/pavilion/Desktop/Minor/StackBid-Devops-Powered-Auction-Platform/stackbid/src/Components/SignUp/SignupImg.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Styles for the login form */
.signup-container {
    background: url(./SignupImg.jpg);
    /* background-image: url('/home/pavilion/Desktop/Minor/StackBid-Devops-Powered-Auction-Platform/stackbid/src/Components/SignUp/SignupImg.jpg'); */
    background-color: rgba(190, 176, 52, 0.5);
    /* Semi-transparent black background */
    color: #ffd700;
    /* Golden text color */  
    /* padding: 40px; */
    height: 100vh;
    width: 250vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    background-color: #000;
    /* Black background color */
    box-shadow: 0px 0px 10px rgba(223, 197, 51, 0.1);
    /* Soft shadow effect */
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #ffd700; /* Golden text color */
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffd700; /* Golden border */
    border-radius: 5px;
    font-size: 16px;
    background-color: #333; /* Dark input background color */
    color: #ffd700; /* Golden text color */
}

button {
    width: 100%;
    margin-right: -12px;
    padding: 15px;
    background-color: #ffd700; /* Golden button color */
    color: #000; /* Black text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    float: right;
}

button:hover {
    background-color: #c0a300; /* Darker shade of golden on hover */
}
